* {
    background-color: rgb(38, 32, 94);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container h4 {
    color: gray;
}