* {
    background-color: rgb(163, 157, 214);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container {
    display: flex;
    justify-content: center;
}